*{
    margin: 0px;
}

header{
    min-height: 100px;
    background-color: rgb(18, 20, 29);
    height: 200px;
    
}
section{
    min-height: 650px;
    background-color: rgb(18, 20, 29);
    display: flex;
    justify-content: center;
}

.card{
    background-color: rgb(18, 20, 29);
    max-width: 200px;
    min-width: 300px;
    max-height: 400px;
  
    text-align: center;
    border-radius: 20px;
    border: blueviolet solid 1px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -80px;
    box-shadow: 0 0 25px blueviolet;
    

    
}

.img_perfil img{
    width: 130px;
    height: 130px;
    
}

.nome{
    color: rgba(255, 255, 255, 0.849);
    font-family: Montserrat;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;


}
.sub_title{
    font-family: Montserrat;
    color: blueviolet;
}

.social{
    text-decoration: none;
    
    
    padding: 20px;
    
   

}

.social ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
}

/* Distância entre ícones sociais*/
.social ul li{
    
    padding: 10px;
}

a{
    text-decoration: none;
    color: blueviolet;
}
a:hover{
    color: #C71585;
}
.fab{
    font-size: 30px;
    
}
.whats{
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 30px 10px 30px;
    
    
}
#link-what a{
    font-family: Montserrat;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 12px 22px 12px 22px;
    border-radius: 50px;
    
}

footer{
    display: flex;
    justify-content: center;
    min-height: 100px;
    margin-bottom: 0px;
    font-family: Calibri;
    color: blueviolet;
    background-color: rgb(18, 20, 29);
}

